{% extends "payroll_base_site.html" %}
{% load i18n %}
{% load staticfiles %}

{% block main_content %}



<div id="dashboard" class="left">
    <h3 class="ico_mug">{% trans 'Administration' %} &rang; Qualifications &rang; Certifications</h3>
    
    {% include 'payroll/databox_notifications.html' with messages=messages%}
    
    <table id="table">
        {% if certification_list %}
        <tr>
            <th width="10%">#</th>
            <th width="">{% trans 'Name' %}</th>
            <th width="">{% trans 'Description' %}</th>
            <th width="20%">{% trans 'Action' %}</th>
        </tr>
        {% endif %}
        {% for cert in certification_list %}

        <tr>
            <td>{{  page_obj.start_index|add:forloop.counter0 }}.</td>
            <td>{{ cert.name }}</td>
            <td>{{ cert.description }}</td>
            <td align="center">
                <a href="{% url 'payroll:cert_edit' pk=cert.id %}">{% trans 'edit' %}</a>
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="{% url 'payroll:cert_delete' pk=cert.id %}">{% trans 'delete' %}</a>
            </td>
        </tr>
        {% empty %}
            <div id="warning">
                <span class="ico_error">
                {% trans "There are no certifications setup. Click the ADD CERTIFICATION button below to create one, e.g. ACCA" %}
                </span>
            </div>
        {% endfor %}
    </table>

    {% if is_paginated %}
        {% url 'payroll:cert_list' as cert_url %}
        {% include "payroll/pagination_digg.html" with paginator=paginator url=cert_url %}
    {% endif %}
    <div class="blankline"></div>
    <div><a href="{% url 'payroll:cert_add' %}"><button>{% trans 'Add Certification' %}</button></a></div>
</div>

{% block sidebar %}
{% include 'payroll/sidebar_setup.html' with url="cert_list" menu="personnel" %}
{% endblock sidebar %}

{% endblock %}