{% load i18n %}
<div id="membershipModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                    <button data-dismiss="modal" class="close" type="button">x</button>
                    <h3>Add Membership</h3>                            
            </div>

            <form action="{% url 'payroll:membership_add' %}" method="POST" class="form-horizontal" id="employee_membership_form">
            <div class="modal-body">
                <div class="widget-box">
                    <div class="widget-content nopadding">
                            {% for hidden in membership_form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            {% csrf_token %}
                            <input type='hidden' name='ajax' value='1'/>
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-sm-4 col-md-4 control-label" for="id_name">Name</label>
                                    <div class="col-sm-8 col-md-8">
                                            <input id="id_name" maxlength="8" name="name" size="20" type="text" required="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 col-md-4 control-label" for="id_name">Description</label>
                                    <div class="col-sm-8 col-md-8">
                                            {{ membership_form.description }}
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary btn-sm" value="add">{% trans "Add" %}</button>
                </div>
            </div>
                        </form>
        </div>
        
    </div>
</div>