{% extends 'payroll_base_site.html' %}
{% load i18n %}

{% block main_content %}

<div id="dashboard" class="left">
    
    {% if form.instance.id %}{% trans "Edit" as action %}{% else %}{% trans "New" as action %}{% endif %}     
    <h3 class="ico_mug">{% trans 'Administration' %} &rang; {% trans 'Qualifications' %} &rang; {% blocktrans %}{{ action }} Membership{% endblocktrans %}</h3>

    {% include "payroll/form_error_display.html" with module=mod title=title %}
    
    <form action="" method="post">
        {% csrf_token %}
        <fieldset>
            <legend><span>{% trans 'Membership' %}</span></legend>
        <table width="100%">

            <tr>
               <td style="vertical-align: top" width="20%"><label for="id_name">{% trans 'Name' %}</label></td>
               <td>
                   <div class="left">
                       {{ form.name }} &nbsp;&nbsp;
                   </div>
                   {% if form.name.errors %}
                    <div id="fail" class="quickview left"><span class="ico_cancel">{{ form.name.errors|striptags }}</span></div>
                    {% endif %}
                </td>
            </tr>
            <tr>
               <td style="vertical-align: top" width="20%"><label for="id_description">{% trans 'Description' %}</label></td>
               <td>
                   <div class="left">
                       {{ form.description }} &nbsp;&nbsp;
                   </div>
                   {% if form.description.errors %}
                    <div id="fail" class="quickview left"><span class="ico_cancel">{{ form.description.errors|striptags }}</span></div>
                    {% endif %}
                </td>
            </tr>

            <tr>
                <td></td>
                <td>    <input type="submit" value="{% trans 'Save' %}" />
                </td>
            </tr>

        </table>
        </fieldset>
    </form>
    <a href="{% url 'payroll:membership_list' %}"><button>{% trans 'Back' %}</button></a>

</div>

{% block sidebar %}
{% include 'payroll/sidebar_setup.html' with url="membership_list" menu="personnel" %}
{% endblock sidebar %}

{% endblock main_content %}