{% extends "payroll_base_site.html" %}
{% load i18n %}
{% load staticfiles %}

{% block main_content %}



<div id="dashboard" class="left">
    <h3 class="ico_mug">{% trans 'Administration' %} &rang; {% trans 'Qualifications' %} &rang; {% trans 'Skills' %}</h3>
    
    {% include 'payroll/databox_notifications.html' with messages=messages%}
    
    <table id="table">
        {% if skill_list %}
        <tr>
            <th width="10%">#</th>
            <th width="">{% trans 'Name' %}</th>
            <th width="">{% trans 'Description' %}</th>
            <th width="20%">{% trans 'Action' %}</th>
        </tr>
        {% endif %}
        
        {% for skill in skill_list %}

        <tr>
            <td>{{  page_obj.start_index|add:forloop.counter0 }}.</td>
            <td>{{ skill.name }}</td>
            <td>{{ skill.description }}</td>
            <td>
                <a href="{% url 'payroll:skill_edit' pk=skill.id %}">{% trans 'edit' %}</a>
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="{% url 'payroll:skill_delete' pk=skill.id %}">{% trans 'delete' %}</a>
            </td>
        </tr>
        {% empty %}
        <div id="warning"><span class="ico_error">{% trans "There are no certifications setup. Click the ADD SKILL button below to create one, e.g. Driving" %}</span></div>
        {% endfor %}
    </table>

    {% if is_paginated %}
        {% url 'payroll:skill_list' as skill_url %}
        {% include "payroll/pagination_digg.html" with paginator=paginator url=skill_url %}
    {% endif %}
    <div class="blankline"></div>
    <div><a href="{% url 'payroll:skill_add' %}"><button>{% trans 'Add Skill' %}</button></a></div>
</div>

{% block sidebar %}
{% include 'payroll/sidebar_setup.html' with url="skill_list" menu="personnel" %}
{% endblock sidebar %}

{% endblock %}