{% extends "payroll_base_site.html" %}
{% load i18n %}
{% load staticfiles %}

{% block main_content %}

<div id="main_panel_container" class="section">
    
    <h3 class="ico_mug">{% trans 'Appraisal' %} &rang; 
        <a href="{% url 'appraisal:received_employee_appraisal_list' %}">
        {% trans 'Received Appraisals' %}</a> &rang; Appraisal KPIs 
    </h3>
    {% include 'payroll/databox_notifications.html' with messages=messages%}

    <table width="100%" cellspacing="5px" cellpadding="5px">
        <tr>
            <td width="50%">
                <table id="table">
                    <tr>
                        <th colspan="2"><strong>Info</strong></th>
                    </tr>
                    <tr>
                        <td width="50%" class="label">Name</td>
                        <td>
                            <a href="{% url 'payroll:user_detail' pk=emp_appraisal.employee_profile.user.id %}">
                                {{ emp_appraisal.employee_profile.get_fullname }}
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td width="50%" class="label">Appraisal</td>
                        <td>
                            {{ emp_appraisal.appraisal }}
                        </td>
                    </tr>
                    <tr>
                        <td class="label">Status</td>
                        <td>{{ emp_appraisal.get_status_display }}</td>
                    </tr>
                    <tr>
                        <td class="label">Due Date</td>
                        <td>{{ emp_appraisal.appraisal.due_date }}</td>
                    </tr>
                    <tr>
                        <td class="label">Your Reviews</td>
                        <td>{{ total_measures_reviewed }} of {{ total_measures }}</td>
                    </tr>
                    <tr>
                        <td class="label">Self Appraisal Score</td>
                        <td>{{ self_score|floatformat:"0" }}%</td>
                    </tr>
                    <tr>
                        <td class="label">Supervisor Adjusted Score</td>
                        <td>{{ adjusted_score|floatformat:"0" }}%</td>
                    </tr>
                </table>
            </td>
            <td>&nbsp;&nbsp;</td>
            <td width="50%">
                <table id="table" width="90%">
                    <tr>
                        <th colspan="3">Submission Remarks</th>
                    </tr>
                    <tr>
                        <td>{{ remarks.open.initiator.get_fullname }}</td>
                        <td>{{ remarks.open.date|date }}</td>
                        <td>{{ remarks.open.comment }}</td>
                    </tr>
                    {% for f in comments %}
                    <tr>
                        <td style="label">{{ f.from_reviewer.get_fullname }}</td>
                        <td>{{ f.created_at|date }}</td>
                        <td width="50%">{{ f.comment }}</td>
                    </tr>
                    {% endfor %}
                    {% if is_closed %}
                    <tr>
                        <td>{{ remarks.close.closed_by.get_fullname }}</td>
                        <td>{{ remarks.close.date|date }}</td>
                        <td>{{ remarks.close.comment }}</td>
                    </tr>
                    {% endif %}
                </table>
            </td>
        <tr>
    </table>
    <table id="table">
        <p></p>

        {% if appraisal_measure_list %}
        <tr>
            <th width="5%">#</th>
            <th width="5%">{% trans 'Param.' %}</th>
            <th width="25%">{% trans 'Definition' %}</th>
            <th width="25%">{% trans 'Self Appraisal' %}</th>
            <th width="">{% trans 'Supervisor Appraisal' %}</th>
            {% if not is_closed %}
            <th width="">{% trans 'Action' %}</th>
            {% endif %}
        </tr>
        {% endif %}
        {% for emp_measure in appraisal_measure_list %}

        <tr>
            <td>{{  page_obj.start_index|add:forloop.counter0 }}.</td>
            <td>{{ emp_measure.measure.parameter }}</td>
            <td>{{ emp_measure.measure.definition }}</td>
            <td>
                {% with s_appraisal=emp_measure.get_self_appraisal %}
                {{ s_appraisal.rating|default:"-"}}
                    {% if s_appraisal.rating %}/{{ s_appraisal.measure.max_rating }}{% endif %}
                    &nbsp;[ <i>{% if s_appraisal.comment %}{{ s_appraisal.comment }}{% endif %}</i> ]
                {% endwith %}
            </td>
            <td>
                    {{ emp_measure.rating|default:"-"}}
                    {% if emp_measure.rating %}/{{ emp_measure.measure.max_rating }}{% endif %}
                    &nbsp;[ <i>{% if emp_measure.comment %}{{ emp_measure.comment }}{% endif %}</i> ]
            </td>
            {% if not is_closed %}
            <td align="center">
                <a href="{% url 'appraisal:received_appraisal_measure_update' pk=emp_measure.id %}">{% trans 'update' %}</a>
            </td>
            {% endif %}
        </tr>
        {% empty %}
        <div id="warning">
            <span class="ico_error">
            {% trans "This appraisal was created without any measurable parameters." %}
            </span>
        </div>
        {% endfor %}
    </table>
    
    {% if is_paginated %}
        {% url 'appraisal:received_employee_appraisal_measure_list' emp_app_id=emp_appraisal.id as url %}
        {% include "payroll/pagination_digg.html" with paginator=paginator url=url %}
    {% endif %}
    {% if not is_closed %}
        <div class="blankline"></div>
        <p class="info">Submit the form below to close this appraisal.</p>

        <form method="post" action="">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %} 
            <fieldset>
                <legend><span>{% trans 'Close Appraisal' %}</span></legend>
                <table width="100%">
                    <tr>
                        <td style="vertical-align: top" width="20%">Remarks </td>
                        <td>
                            <div class="left">{{ form.remarks }}</div>
                            {% if form.remarks.errors %}
                            <div id="fail" class="quickview left"><span class="ico_cancel">{{ form.remarks.errors|striptags }}</span></div>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Close Appraisal" class="blue"/></td>
                    </tr>
                </table>
            </fieldset>
        </form>
    {% else %}
    <div class='blankline'></div>
    <a href="{% url 'appraisal:employee_appraisal_measure_pdf' emp_app_id=emp_appraisal.id %}" target="_blank">
        <button>Download Report</button>
    </a>
    {% endif %}
</div>

{% endblock %}