{% extends "payroll_base_site.html" %}
{% load i18n %}
{% load staticfiles %}

{% block main_content %}

<div id="dashboard" class="left">
    <h3 class="ico_mug">{% trans 'Leave' %} &rang;  Applications  &rang;  Received Applications</h3>
        {% include 'payroll/databox_notifications.html' with messages=messages%}
    <p>
        {% if category == None %}
            all
        {% else %}
            <a href="{% url 'leave:leave_application_list' %}">all</a>
        {% endif %}&nbsp;&nbsp;
        {% if category == 'A' %}
            approved
        {% else %}
            <a href="{% url 'leave:leave_application_list_f' cat='A' %}">approved</a>&nbsp;&nbsp;
        {% endif %}&nbsp;&nbsp;
        {% if category == 'P' %}
            pending
        {% else %}
            <a href="{% url 'leave:leave_application_list_f' cat='P' %}">pending</a>
        {% endif %}&nbsp;&nbsp;
        {% if category == 'D' %}
            denied
        {% else %}
        <a href="{% url 'leave:leave_application_list_f' cat='D' %}">denied</a>
        {% endif %}&nbsp;&nbsp;
        {% if category == 'E' %}
            expired
        {% else %}
        <a href="{% url 'leave:leave_application_list_f' cat='E' %}">expired</a>
        {% endif %}&nbsp;&nbsp;
    </p>
    {% if leave_application_list %}
    <table id="table">

        <tr>
            <th width="5%">#</th>
            <th width="">{% trans 'Employee' %}</th>
            <th width="">{% trans 'Position' %}</th>
            <th width="">{% trans 'Service Line' %}</th>
            <th width="">{% trans 'Days' %}</th>
            <th width="">{% trans 'Starting' %}</th>
            <th width="">{% trans 'Status' %}</th>
            <th width="">{% trans 'Reason' %}</th>
            <th width="10%">{% trans 'Action' %}</th>
        </tr>

        {% for application in leave_application_list %}

        <tr>
            <td>{{  page_obj.start_index|add:forloop.counter0 }}.</td>
            <td>{{ application.request.profile.get_fullname }}</td>
            <td>{{ application.request.profile.position }}</td>
            <td>{{ application.request.profile.service_line }}</td>
            <td>{{ application.request.get_no_of_days }}</td>
            <td>{{ application.request.start_date }}</td>
            <td>{{ application.get_leave_status_display }}</td>
            <td>{{ application.get_approver_comment }}</td>
            <td align="center">
                <a href="{% url 'leave:leave_application_detail' pk=application.id %}">{% trans 'details' %}</a>
            </td>
        </tr>
        {% empty %}
            <div id="warning">
                <span class="ico_error">
                {% trans "There are no appraisals setup yet. Click the ADD APPRAISAL button below to initiate one." %}
                </span>
            </div>
        {% endfor %}

    </table>
    {% else %}
    <div id="warning">
        <span class="ico_error">
        You have not received any requests yet for this category.
    </span>
    </div>
    {% endif %}
    {% if is_paginated %}
        {% if category %}
            {% url 'leave:leave_application_list_f' cat=category as url %}
        {% else %}
            {% url 'leave:leave_application_list' as url %}
        {% endif %}
        {% include "payroll/pagination_digg.html" with paginator=paginator url=url %}
    {% endif %}

</div>

{% block sidebar %}
{% include 'leave/sidebar.html' with url="leave_application_list" menu="requests" %}
{% endblock sidebar %}

{% endblock %}
