{% extends 'payroll_base_site.html' %}
{% load i18n %}

{% block extra_scripts %}
        <script type="text/javascript">
            jQuery(function() {
               jQuery("#id_start_date").datepicker({ 
                   dateFormat: 'yy-mm-dd'
               });
               jQuery("#id_end_date").datepicker({ 
                   dateFormat: 'yy-mm-dd'
               });
               
            });
        </script>
{% endblock %}

{% block main_content %}

<div id="dashboard" class="left">
    {% trans "Setup" as mod %}
    {% if form.instance.id %}{% trans "Edit" as action %}{% else %}{% trans "New" as action %}{% endif %} 
    {% blocktrans asvar title %}{{ action }} Leave Period{% endblocktrans %}
    <h3 class="ico_mug">Administration &rang; {% trans 'Leave' %} &rang;  {{ action }} Leave Period</h3>
    {% include "payroll/form_error_display.html" with module=mod title=title %}

    <form action="" method="post">
        {% csrf_token %}
        <fieldset>
            <legend><span>{% trans 'Leave Period' %}</span></legend>
        <table width="100%">

            <tr>
               <td style="vertical-align: top" width="20%"><label for="id_start_date">{% trans 'Start Date' %}</label></td>
               <td>
                   <div class="left">
                       {{ form.start_date }} &nbsp;&nbsp;
                   </div>
                   {% if form.start_date.errors %}
                    <div id="fail" class="quickview left"><span class="ico_cancel">{{ form.start_date.errors|striptags }}</span></div>
                    {% endif %}
                </td>
            </tr>
            <tr>
               <td style="vertical-align: top" width="20%"><label for="id_end_date">{% trans 'End Date' %}</label></td>
               <td>
                   <div class="left">
                       {{ form.end_date }} &nbsp;&nbsp;
                   </div>
                   {% if form.end_date.errors %}
                    <div id="fail" class="quickview left"><span class="ico_cancel">{{ form.end_date.errors|striptags }}</span></div>
                    {% endif %}
                </td>
            </tr>
            <tr>
               <td style="vertical-align: top" width="20%"><label for="id_comment">{% trans 'Comment' %}</label></td>
               <td>
                   <div class="left">
                       {{ form.comment }} &nbsp;&nbsp;
                   </div>
                   {% if form.comment.errors %}
                    <div id="fail" class="quickview left"><span class="ico_cancel">{{ form.comment.errors|striptags }}</span></div>
                    {% endif %}
                </td>
            </tr>

            <tr>
                <td></td>
                <td>    <input type="submit" value="Save" /></td>
            </tr>

        </table>
        </fieldset>
    </form>
    <a href="{% url 'leave:leave_period_list' %}"><button>{% trans 'Back' %}</button></a>

</div>

{% block sidebar %}
{% include 'leave/sidebar.html' with url="leave_period_list" menu="setup" %}
{% endblock sidebar %}

{% endblock main_content %}