{% extends "payroll_base_site.html" %}
{% load i18n %}

{% block main_content %}

<div id="main_panel_container" class="section">
    <h3 class="ico_mug">{% trans 'Confirm Deletion' %}</h3>

<form action="{% url 'payroll:deductiontype_delete_p' pk=object.id %}" method="post">
    {% csrf_token %}
    <div align="center" id="warning">
        <span class="ico_error">
            {% trans 'Are you sure you want to delete' %} <strong>{{ object }}</strong>?
        </span>
    </div>
    <div align="center">
        <input type="submit" value="Delete" />
        &nbsp;&nbsp;<a href="{% url 'payroll:deductiontype_list' %}">{% trans 'Cancel' %}</a>
    </div>
</form>


</div>
{% endblock main_content %}