{% extends 'payroll_base_site.html' %}
{% load i18n %}

{% block main_content %}

<div id="main_panel_container" class="section">
    <h2 class="ico_mug">Change employee Status</h2>

    {% if form.errors and not form.non_field_errors %}
    <div id="warning" class="info_div">
        <span class="ico_error">
                {% trans 'Please correct the errors below' %}
        </span>
    </div>
    {% endif %}

    {% if form.non_field_errors %}
    <div id="fail" class="info_div">
        <span class="ico_cancel">
            {% for error in form.non_field_errors %}
                    <font style="font-size: 6px">{{ error }}</font>
            {% endfor %}
    </span>
    </div>
    {% endif %}

    <form action="{{ action_url }}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend><span>Change Status</span></legend>
        <table width="100%">

            <tr>
               <td style="vertical-align: top" width="20%"><label for="id_name">Status</label></td>
               <td>
                   <div class="left">
                       {{ form.status }} &nbsp;&nbsp;
                   </div>
                   {% if form.status.errors %}
                    <div id="fail" class="quickview left"><span class="ico_cancel">{{ form.status.errors }}</span></div>
                    {% endif %}
                </td>
            </tr>
            <tr>
               <td style="vertical-align: top" width="20%"><label for="id_name">Comment</label></td>
               <td>
                   <div class="left">
                       {{ form.status_comment }} &nbsp;&nbsp;
                   </div>
                   {% if form.status.errors %}
                    <div id="fail" class="quickview left"><span class="ico_cancel">{{ form.status_comment.errors }}</span></div>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td></td>
                <td>    <input type="submit" value="Save" /></td>
            </tr>

        </table>
        </fieldset>
    </form>

</div>
{% endblock main_content %}
