{% extends "payroll_base.html" %}
{% load i18n %}

{% block body %}

<div id="login_container">
	<div id="header">
		<div id="logo_login"><h1><a href="/">Payroll</a></h1></div>
	</div><!-- end header -->

	<div id="login" class="section">

		{% if form.errors and not form.non_field_errors %}
		<div id="warning" class="info_div">
			<span class="ico_error">
				{% trans 'Please correct the errors below' %}
			</span>
		</div>
		{% endif %}

		{% if form.non_field_errors or form.this_is_the_login_form.errors %}
		<div id="fail" class="info_div"><span class="ico_cancel">
			{% for error in form.non_field_errors %}
				<font style="size: 6px">{{ error }}</font>
			{% endfor %}
		</span></div>
		{% endif %}

		{% if not form.errors %}
		<div id="success" class="info_div">
			<span class="ico_warn">
				{% trans 'Enter username and password. Note that both are case sensitive.' %}
			</span>
		</div>
		{% endif %}

		<form action="index.html" method="post">
		{% csrf_token %}<br/>
		{% if not form.this_is_the_login_form.errors %}
			{% for error in form.username.errors %}
				{{ error }}
			{% endfor %}
			{# {{ form.username.errors }} #}
		{% endif %}
		<label for="id_username" class="required">
			<strong>{% trans 'Username' %}</strong>
		</label>
		<input type="text" name="username" id="id_username" size="28" class="input"/><br />

		{% if not form.this_is_the_login_form.errors %}
			{% for error in form.password.errors %}
				{{ error }}
			{% endfor %}
		{% endif %}
		<label for="id_password" class="required"><strong>
			{%trans 'Password' %}</strong></label>
		<input type="password" type="password" name="password" id="id_password" size="28" />
		<br /><br/>
		<input id="save" class="loginbutton" type="submit" class="submit" value="Log In" />
                <input type="hidden" name="next" value="{{ next }}" />
		</form>
	</div> <!-- End login section -->

	<script type="text/javascript">
	document.getElementById('id_username').focus()
	</script>
</div> <!-- End login container -->

{% endblock body %}