{% extends "payroll_base_site.html" %}
{% load i18n %}

{% block main_content %}

<div id="main_panel_container" class="section">
    <h2 class="ico_mug">{% trans 'Confirm Delete' %}</h2>

    <div align="center">
        <form action="{% url 'payroll:user_delete' object.id %}" method="post">
            {% csrf_token %}
            {% blocktrans %}Are you sure you want to delete {{ object }} {{ employee_name }}{% endblocktrans %}?<br/>
            <input type="submit" value="Delete" />&nbsp;&nbsp;
            <a href="{% url 'payroll:user_list' %}">{% trans 'Cancel' %}</a>
        </form>
    </div>
    
</div>
{% endblock main_content %}