{% extends 'payroll_base_site.html' %}
{% load i18n %}

{% block main_content %}
<div id="dashboard" class="left">
    <h3 class="ico_mug">{% trans 'Administration' %} | {{ page_header }}</h3>

    {% if form.errors and not form.non_field_errors %}
    <div id="warning" class="info_div">
        <span class="ico_error">
                {% trans 'Please correct the errors below' %}
        </span>
    </div>
    {% endif %}

    {% if form.non_field_errors %}
    <div id="fail" class="info_div">
        <span class="ico_cancel">
            {% for error in form.non_field_errors %}
                    {{ error }}
            {% endfor %}
    </span>
    </div>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        <fieldset>
            <legend><span>{% trans 'Bank Info' %}</span></legend>
        <table width="100%">

            <tr>
               <td style="vertical-align: top" width="20%"><label for="id_name">{% trans 'Name' %}</label></td>
               <td>
                   <div class="left">
                       {{ form.name }} &nbsp;&nbsp;
                   </div>
                   {% if form.name.errors %}
                    <div id="fail" class="quickview left"><span class="ico_cancel">{{ form.name.errors }}</span></div>
                    {% endif %}
                </td>
            </tr>
            <tr>
               <td style="vertical-align: top"><label for="id_phone_number">{% trans 'Telephone Number' %}</label></td>
               <td>
                   <div class="left">
                       {{ form.phone_number }} &nbsp;&nbsp;
                   </div>
                   {% if form.phone_number.errors %}
                    <div id="fail" class="quickview left"><span class="ico_cancel">{{ form.phone_number.errors }}</span></div>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td></td>
                <td>    <input type="submit" value="Save" /></td>
            </tr>

        </table>
        </fieldset>
    </form>
    <a href="{% url 'payroll:bank_list' %}"><button>{% trans 'Back to Bank List' %}</button></a>

</div>
{% block sidebar %}
{% include 'payroll/sidebar_setup.html' with url="bank_list" menu="payroll" %}
{% endblock sidebar %}

{% endblock main_content %}