{% extends "easy_pdf/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load humanize %}

{% block extra_style %}
<style lang="text/css">
    table {border-collapse: collapse;}
    td {padding: 1px;}
    h3 {border-bottom 1px solid black; font-weight: bold; padding-top: 5px}
</style>
{% endblock %}

{% block page_header %}
{% include 'pdf_report_header.html' with title="PAYSLIP" %}
{% endblock %}

{% block content %}
<h3>Info</h3>
<table width="100%">
    <tr>
        <td>Name</td>
        <td>{{ payslip.employee.profile.get_fullname }}</td>
    </tr>
    <tr>
        <td>Pay Period</td>
        <td>{{ payslip.payroll.pay_period }}</td>
    </tr>
    <tr>
        <td>Date</td>
        <td>{{ payslip.payroll.date }}</td>
    </tr>
    <tr>
        <td>Bank</td>
        <td>{{ payslip.employee.profile.bank }}</td>
    </tr>
    <tr>
        <td>Acct. No.</td>
        <td>{{ payslip.employee.profile.bank_account_number }}</td>
    </tr>
    <tr>
        <td>Contractual Pay</td>
        <td>{{ payslip.contractual_pay_amount|floatformat:"0"|intcomma }}</td>
    </tr>
    <tr>
        <td>Days</td>
        <td>{{ payslip.total_days_worked }}</td>
    </tr>
    <tr>
        <td style="padding-top: 10px">Basic Pay</td>
        <td style="padding-top: 10px; text-align: right;">{{ payslip.basic_pay|floatformat:"0"|intcomma }}</td>
    </tr>
</table>


<h3>Allowances</h3>
<table>
    {% for allowance in allowances %}
    <tr>
        <td>
            {{ allowance.allowance_type.name }} Allowance
            {% if allowance.comment %}
                ({{ allowance.comment }})
            {% endif %}
        </td>
        <td align="right">{{ allowance.amount|floatformat:"0"|intcomma }}</td>
    </tr>
    {% endfor %}
    <tr style="font-weight: bold; font-style: italic">
        <td><i>Total Allowances</i></td>
        <td align="right">{{ payslip.get_total_allowances|floatformat:"0"|intcomma }}</td>
    </tr>
    <tr style="font-weight: bold">
        <td><strong>Gross Pay</strong></td>
        <td align="right">{{ payslip.gross_pay|floatformat:"0"|intcomma }}</td>
    </tr>
</table>

<h3>Deductions</h3>
<table>
    <tr>
        <td>NSSF</td>
        <td align="right">{{ payslip.nssf|floatformat:"0"|intcomma }}</td>
    </tr>
    <tr>
        <td>PAYE</td>
        <td align="right">{{ payslip.paye|floatformat:"0"|intcomma }}</td>
    </tr>
    {% for deduction in deductions %}
    <tr>
        <td>
            {{ deduction.deduction_type.name }}
            {% if deduction.comment %}
            ({{ deduction.comment }})
            {% endif %}
        </td>
        <td align="right">{{ deduction.amount|floatformat:"0"|intcomma }}</td>
    </tr>
    {% endfor %}
    <tr style="font-weight: bold; font-style: italic">
        <td><i>Total deductions</i></td>
        <td align="right">{{ payslip.get_total_deductions|floatformat:"0"|intcomma }}</td>
    </tr>
    <tr style="font-weight: bold;">
        <td style=" padding-top: 10px">NET PAY</td>
        <td align="right">{{ payslip.net_pay|floatformat:"0"|intcomma }}</td>
    </tr>
</table>


{% endblock %}