{% extends "easy_pdf/base.html" %}
{% load staticfiles %}
{% load pdf_filters %}
{% load i18n %}
{% load humanize %}

{% block extra_style %}
<style lang="text/css">
    table {border-collapse: collapse;}
    td {padding: 1px;}
    h3 {border-bottom 1px solid black; font-weight: bold; padding-top: 5px}
</style>
{% endblock %}

{% block page_header %}
    <table width="100%">
        <tr><td width="20%"><img src="{{ img_path|add:'static/img/logo.jpg'|get64 }}" alt="Logo" /></td>
        <td><h2>SALARY PROGRESSION REPORT FOR {{ employee_profile.get_fullname|upper }}</h2></td>
        </tr>
    </table>
{% endblock %}

{% block content %}
<table id="table" style="cellpadding: 3px">
    <thead>
        <tr style="border-bottom: 1px solid black">
            <th width="20%">Pay Period</th>
            <th>Contractual Pay</th>
            <th>Basic Pay</th>
            <th>Gross Pay</th>
            <th>Net Pay</th>
            <th>NSSF</th>
            <th>PAYE</th>
        </tr>
    </thead>
    <tr><td colspan="7">&nbsp;</td></tr>
    {% for payslip in payslip_list %}
    <tr>
        <td>{{ payslip.payroll.pay_period }}</td>
        <td align="right">{{ payslip.contractual_pay.amount|floatformat:"0"|intcomma }}</td>
        <td align="right">{{ payslip.basic_pay|floatformat:"0"|intcomma }}</td>
        <td align="right">{{ payslip.gross_pay|floatformat:"0"|intcomma }}</td>
        <td align="right">{{ payslip.net_pay|floatformat:"0"|intcomma }}</td>
        <td align="right">{{ payslip.nssf|floatformat:"0"|intcomma }}</td>
        <td align="right">{{ payslip.paye|floatformat:"0"|intcomma }}</td>
    </tr>
    {% endfor %}

    <tr style="border-top: 1px solid black" colspan="7"><td>&nbsp;</td></tr>
    <tr>
        <td><b>Totals</b></td>
        <td align="right"><b>{{ total_contractual_pay|floatformat:"0"|intcomma }}</b></td>
        <td align="right"><b>{{ total_basic_pay|floatformat:"0"|intcomma }}</b></td>
        <td align="right"><b>{{ total_gross_pay|floatformat:"0"|intcomma }}</b></td>
        <td align="right"><b>{{ total_net_pay|floatformat:"0"|intcomma }}</b></td>
        <td align="right"><b>{{ total_nssf|floatformat:"0"|intcomma }}</b></td>
        <td align="right"><b>{{ total_paye|floatformat:"0"|intcomma }}</b></td>
    </tr>
</table>
{% endblock %}