{% extends "payroll_base_site.html" %}
{% load i18n %}

{% block main_content %}

<div id="main_panel_container" class="section">
    <h3 class="ico_mug">Recruitment &rang; Evaluation Stages &rang; {% trans 'Confirm Deletion' %}</h3>

<form action="" method="post">
    {% csrf_token %}
    <div align="center" id="warning">
        <span class="ico_error">
        Are you sure you want to delete <strong>{{ object.name }}</strong>?
        </span>
    </div>
    <div align='center'>
        <input type="submit" value="Delete" />
        &nbsp;&nbsp;<a href="{% url 'recruitment:eval_list' vac_id=object.vacancy.id page=1 %}">{% trans 'Cancel' %}</a>
    </div>
</form>


</div>
{% endblock main_content %}
