<div class="pagination">
    
    {% if page_obj.has_previous %}
    <a href="{{ url }}page{{ page_obj.previous_page_number }}">previous</a>
    {% endif %}

    {% for page in page_obj.page_range %}
        {% if not page %}
        ...
        {% else %}
            {% if page == page_obj.number %}
                Page {{ page }}
            {% else %}
                <a href="{{ url }}page{{ page }}">{{ page }}</a>
            {% endif %}
        {% endif %}
    {% endfor %}
    
    {% if page_obj.has_next %}
        <a href="{{ url }}page{{ page_obj.next_page_number }}">next</a>
    {% endif %}
</div>